:root {
  --background-color-light: #fff;
  --text-color-light: #333;
  --background-color-dark: #333;
  --text-color-dark: #fff;
}

body {
  background-color: var(--background-color-light);
  color: var(--text-color-light);
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: var(--background-color-dark);
    color: var(--text-color-dark);
  }
}

body.dark-mode {
  background-color: var(--background-color-light);
  color: var(--text-color-light);
}

body.light-mode {
  background-color: var(--background-color-light);
  color: var(--text-color-light);
}
